body{
    font-family: sans-serif;
    background-color: #F8F9FC;
    font-size: 16px;
    line-height: 1.618;
    padding: 64px 0;
    color: #414141;
    margin: 0;
}

article{
    width: 100vw;
    overflow-x: hidden;
}

section{
    width: 100%;
    max-width: 860px;
    display: block;
    margin: 0 auto;
}

h1{
    padding: 0;
    margin: 0;
    font-size: 32px;
    opacity: 0.87;
}

p{
    opacity: 0.87;
}

h2{
    margin: 64px 0 32px;
    padding: 0;
    text-align: center;
    opacity: 0.87;
    font-size: 22px;
}

h3{
    margin: 0;
    opacity: 0.87;
    font-size: 16px;
}

ul{
    margin: 0;
    padding: 0;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

ul li{
    list-style-type: none;
    display: inline-block;
    text-transform: uppercase;
    color: rgba(65,65,65,0.15);
    user-select: none;
}

.c-buttons{
    display: block;
    text-align: center;
    margin: 32px 0;
}

.c-buttons a{
    color: #4286f4;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    line-height: 48px;
    min-height: 48px;
    margin: 0 8px;
    display: inline-block;
    padding: 0 16px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(65,65,65,0.1);
}

.js-pjax section{
    border: rgba(66,134,244,0.15) solid 2px;
}

.js-pjax section p{
    padding: 0 16px;
    margin: 0 0 16px;
}

.js-pjax section h3{
    padding: 16px;
}